        html {
            font-size: 16px;
            max-width: 1028px;
            margin: 0 auto;
            padding: 0;
        }
        
        a {
            text-decoration: none;
        }
        
        .header {
            display: grid;
            grid-template-columns: 170px 1fr auto;
            grid-template-rows: 80% 20%;
            height: 150px;
        }
        
        .logo-h1 {
            display: flex;
            align-items: center;
            margin-left: 10px;
        }
        
        #logo {
            height: 80px;
            width: 80px;
            background-color: rgb(216, 118, 247);
            border-radius: 50%;
        }
        
        .header-title {
            display: flex;
            grid-column: 2;
            align-items: center;
        }
        
        .hamburger {
            display: flex;
            grid-column: 3;
            align-items: center;
        }
        
        .link-container {
            display: flex;
            grid-column: 2;
            grid-row: 2;
            justify-content: space-around;
        }
        
        .image-container {
            margin-top: 10px;
            display: flex;
            width: 100%;
            justify-content: center;
        }
        
        .image-buttons {
            display: flex;
            justify-content: center;
            font-size: 1.5rem;
            margin: 10px;
            margin-top: -20px;
            border: none;
            padding: 15px;
            border-radius: 5px;
            color: white;
        }
        
        .button-left,
        .button-right {
            background-color: rgb(111, 102, 241);
        }
        
        .quotes {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 16px;
            font-weight: 500;
            padding: 50px;
        }
        
        .quotes-left {
            display: flex;
            width: 20rem;
            align-items: center;
        }
        
        .quotes-right {
            width: 20rem;
            display: flex;
            align-items: center;
        }
        
        .icon-background {
            display: flex;
            background-color: lightgrey;
            height: 6rem;
            width: 20rem;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            margin: 20px;
        }
        
        .fa-user {
            background-color: lightgrey;
            font-size: 2rem;
            color: grey;
        }
        
        .text {
            text-align: center;
            font-size: 2rem;
        }
        
        .card-outer {
            display: flex;
            width: 100%;
            height: 300px;
            justify-content: space-evenly;
        }
        
        .card-left {
            border: 2px solid lightgrey;
            width: 15rem;
        }
        
        .card-middle {
            border: 2px solid lightgrey;
            width: 15rem;
        }
        
        .card-right {
            border: 2px solid lightgrey;
            width: 15rem;
        }
        
        .card-upper {
            display: grid;
            grid-template-columns: 70% 30%;
            grid-template-rows: 80% 20%;
            height: 45%;
            width: 100%;
            background-color: lightgrey;
        }
        
        .card-lower {
            height: 30vh;
        }
        
        .card-lower-text {
            margin: 0px 3px;
        }
        
        .card-button-container {
            display: flex;
            justify-content: right;
            margin: -10px 10px;
        }
        
        .card-button {
            background-color: rgb(111, 102, 241);
            border-radius: 3px;
            border: none;
            color: white;
            padding: 10px;
            margin: 10px;
        }
        
        .checked {
            color: rgb(111, 102, 241);
            left: 1rem;
        }
        
        .star-container {
            grid-column: 1;
            grid-row: 2;
            margin-left: .5rem;
            color: grey;
        }
        
        .card-upper-icon-container {
            display: flex;
            grid-column: 2;
            grid-row: 1;
            justify-content: right;
        }
        
        .fa-laptop {
            font-size: 2rem;
            margin: 15px 15px;
        }
        
        .fa-home {
            font-size: 2rem;
            margin: 15px 15px;
        }
        
        .buttons-allchallenges {
            display: flex;
            justify-content: center;
            padding: 15px;
            border-radius: 5px;
            margin-top: 3rem;
        }
        
        #challengeButtonLeft {
            font-size: 1.5rem;
            border: 2px solid rgb(111, 102, 241);
            background-color: white;
            margin-right: 10px;
            color: rgb(111, 102, 241);
            border-radius: 3px;
        }
        
        #challengeButtonRight {
            font-size: 1.5rem;
            border: 2px solid rgb(111, 102, 241);
            background-color: white;
            color: rgb(111, 102, 241);
            padding: 8px;
        }
        
        #story {
            margin: auto;
            text-align: center;
            width: 60%;
            margin-top: 10vh;
            font-size: 1.5rem;
        }
        
        .story-button-container {
            display: flex;
            justify-content: center;
            margin: 2vh;
        }
        
        .story-button-container button {
            font-size: 1.5rem;
            background-color: white;
            color: rgb(111, 102, 241);
            padding: 8px;
            border: 2px solid rgb(111, 102, 241);
        }
        
        .pic-salestext-container {
            margin-top: 10vh;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 20rem 20rem;
        }
        
        .pic-salestext-top-left {
            display: flex;
            grid-column: 1;
            grid-row: 1;
        }
        
        .pic-salestext-top-right {
            padding: 25px;
        }
        
        .pic-salestext-top-right button {
            margin-top: 2rem;
            font-size: 1.5rem;
            background-color: rgb(111, 102, 241);
            color: white;
            border-radius: 3px;
            border: none;
            padding: 10px;
        }
        
        .pic-salestext-container img {
            width: 100%;
        }
        
        .pic-salestext-bottom-left {
            padding: 25px;
        }
        
        .pic-salestext-bottom-left button {
            font-size: 1.5rem;
            margin-top: 3rem;
            margin-right: 10px;
            background-color: rgb(111, 102, 241);
            color: white;
            border-radius: 3px;
            border: none;
            padding: 10px;
        }
        
        .pic-salestext-bottom-right {
            display: flex;
            grid-column: 2;
            grid-row: 2;
        }
        
        footer {
            display: flex;
            justify-content: space-around;
            margin-top: 8vh;
            background-color: lightgrey;
            padding: 3rem;
            font-size: 1rem;
        }
        
        .footer-text {
            width: 30%;
        }
        
        .site-map {
            width: 20%;
        }